// Colors
$color-primary: #549fc4;
$color-primary-light: #6fb3d6;
$color-primary-dark: #2770b5;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Fonts
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
